.second {
    margin: 50px;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.buttonWrap {
    display: flex;
    width: 130px;
    justify-content: space-between;

}